{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}


	 <section>
			<div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>An email has been sent to you, to reset your password !</h1>
						</div>
						<div class="new_people">
							<h2>For New People</h2>
							<p>Having hands on experience in creating innovative designs,I do offer design
								solutions which harness.</p>
						</div>
					</div>
				</div>
			</div>
	</section>


{% endblock %}
